<%- include('head') %>

  </head>

  <body>
    <%- include('header') %>


      <section>


        <h1 style="text-align:center; margin-top: 5%; margin-bottom: 2%">Acrylic_Paintings</h1>
        <div class="gallery">
          <a class="image-link" style="padding: 2%" href="./images/Acrylic_Paintings/PicsArt_07-05-09.03.40.jpg"
            data-lightbox="example-1"><img class="example-image"
              src="./images/Acrylic_Paintings/PicsArt_07-05-09.03.40.jpg" alt="image-1" height="420" width="420" /></a>
          <a class="image-link" style="padding: 2%" style="padding:1%"
            href="./images/Acrylic_Paintings/PicsArt_07-26-08.14.35.png" data-lightbox="example-2"
            data-title="Optional caption."><img class="example-image"
              src="./images/Acrylic_Paintings/PicsArt_07-26-08.14.35.png" alt="image-1" height="420" width="420" /></a>

          <a class="image-link" style="padding:2%" href="./images/Acrylic_Paintings/PicsArt_07-20-02.21.31.jpg"
            data-lightbox="example-2" data-title="Optional caption."><img class="example-image"
              src="./images/Acrylic_Paintings/PicsArt_07-20-02.21.31.jpg" alt="image-1" height="420" width="420" /></a>

          <a class="image-link" style="padding:2%" href="./images/Acrylic_Paintings/PicsArt_07-20-02.22.47.jpg"
            data-lightbox="example-2" data-title="Optional caption."><img class="example-image"
              src="./images/Acrylic_Paintings/PicsArt_07-20-02.22.47.jpg" alt="image-1" height="420" width="420" /></a>

          <a class="image-link" style="padding:2%" href="./images/Acrylic_Paintings/PicsArt_08-07-08.36.40.jpg"
            data-lightbox="example-2" data-title="Optional caption."><img class="example-image"
              src="./images/Acrylic_Paintings/PicsArt_08-07-08.36.40.jpg" alt="image-1" height="420" width="420" /></a>

          <a class="image-link" style="padding:2%" href="./images/Acrylic_Paintings/PicsArt_08-09-01.21.52.png"
            data-lightbox="example-2" data-title="Optional caption."><img class="example-image"
              src="./images/Acrylic_Paintings/PicsArt_08-09-01.21.52.png" alt="image-1" height="420" width="420" /></a>

          <a class="image-link" style="padding:2%" href="./images/Acrylic_Paintings/PicsArt_08-14-01.52.03.png"
            data-lightbox="example-2" data-title="Optional caption."><img class="example-image"
              src="./images/Acrylic_Paintings/PicsArt_08-14-01.52.03.png" alt="image-1" height="420" width="420" /></a>

          <a class="image-link" style="padding:2%" 4 href="./images/Acrylic_Paintings/PicsArt_09-23-11.11.09.jpg"
            data-lightbox="example-2" data-title="Optional caption."><img class="example-image"
              src="./images/Acrylic_Paintings/PicsArt_09-23-11.11.09.jpg" alt="image-1" height="420" width="420" /></a>

          <a class="image-link" style="padding: 2%" href="./images/Acrylic_Paintings/PicsArt_09-25-12.28.10 (1).jpg"
            data-lightbox="example-2" data-title="Optional caption."><img class="example-image"
              src="./images/Acrylic_Paintings/PicsArt_09-25-12.28.10 (1).jpg" alt="image-1" height="420"
              width="420" /></a>

          <a class="image-link" style="padding: 2%" href="./images/Acrylic_Paintings/PicsArt_09-26-09.22.27.jpg"
            data-lightbox="example-2" data-title="Optional caption."><img class="example-image"
              src="./images/Acrylic_Paintings/PicsArt_09-26-09.22.27.jpg" alt="image-1" height="420" width="420" /></a>

          <a class="image-link" style="padding: 2%" href="./images/Acrylic_Paintings/PicsArt_10-03-09.38.32.jpg"
            data-lightbox="example-2" data-title="Optional caption."><img class="example-image"
              src="./images/Acrylic_Paintings/PicsArt_10-03-09.38.32.jpg" alt="image-1" height="420" width="420" /></a>


          <a class="image-link" style="padding: 2%" href="./images/Acrylic_Paintings/PicsArt_10-04-10.14.27.jpg"
            data-lightbox="example-2" data-title="Optional caption."><img class="example-image"
              src="./images/Acrylic_Paintings/PicsArt_10-04-10.14.27.jpg" alt="image-1" height="420" width="420" /></a>


          <a class="image-link" style="padding: 2%" href="./images/Acrylic_Paintings/PicsArt_10-30-12.32.21.jpg"
            data-lightbox="example-2" data-title="Optional caption."><img class="example-image"
              src="./images/Acrylic_Paintings/PicsArt_10-30-12.32.21.jpg" alt="image-1" height="420" width="420" /></a>


          <a class="image-link" style="padding: 2%" href="./images/Acrylic_Paintings/PicsArt_11-01-10.24.30.jpg"
            data-lightbox="example-2" data-title="Optional caption."><img class="example-image"
              src="./images/Acrylic_Paintings/PicsArt_11-01-10.24.30.jpg" alt="image-1" height="420" width="420" /></a>


          <a class="image-link" style="padding: 2%" href="./images/Acrylic_Paintings/PicsArt_12-18-02.22.03.jpg"
            data-lightbox="example-2" data-title="Optional caption."><img class="example-image"
              src="./images/Acrylic_Paintings/PicsArt_12-18-02.22.03.jpg" alt="image-1" height="420" width="420" /></a>


          <a class="image-link" style="padding: 2%" href="./images/Acrylic_Paintings/PicsArt_12-18-02.23.47.jpg"
            data-lightbox="example-2" data-title="Optional caption."><img class="example-image"
              src="./images/Acrylic_Paintings/PicsArt_12-18-02.23.47.jpg" alt="image-1" height="420" width="420" /></a>

        </div>

      </section>


      <!-- <script src="./js/lightbox-plus-jquery.min.js"></script> -->

      <%- include('footer') %>