<%- include('head') %>

  </head>

  <body>
    <%- include('header') %>


      <!-- <section>

        <div class="preview-gallery" style=" width: auto; height: auto;margin: 5%;margin-top: 20%;">
          <div>
            <h1 style="text-align:center;width: auto; height: auto;  margin: 7%"><a href="/acrylic">Preview
                Acrylic_Paintings</a>
            </h1>
          </div>


          <h1 style="text-align:center; margin:7%"><a href="/signature">Preview Signature_Paintings</a>
          </h1>
          <h1 style="text-align:center; margin:7%"><a href="/product">Buy Artwork</a>
          </h1>
        </div>



      </section> -->
      <section style="display: flex; margin-top: 10%;padding: 5%;">
        <a href="/acrylic" class="card">
          <img src="./images/Acrylic_Paintings/PicsArt_12-18-02.22.03.jpg" alt="Avatar" style="width:100%">
          <div class="container">
            <h4 class="font-artwork"><b>Acrylic Artwork</b></h4>
          </div>
        </a>
        <a href="/signature" class="card">
          <img src="./images/Signature_Style/7.png" alt="Avatar" style="width:100%">
          <div class="container">
            <h4 class="font-artwork"><b>Signature Artwork</b></h4>

          </div>
        </a>
        <a href="/product" class="card">
          <img src="./images/Signature_Style/5.jpg" alt="Avatar" style="width:100%">
          <div class="container">
            <h4 class="font-artwork"><b>Buy&nbsp;ArtWork</b></h4>

          </div>
        </a>
      </section>





      <!-- <script src="./js/lightbox-plus-jquery.min.js"></script> -->

      <%- include('footer') %>