<!doctype html>
<html lang="en-US">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Ashish Agarwal Artistry</title>
  <meta name="description" content="Yet Another Artistry Portfolio">
  <meta name="keywords" content="ashish, ashish agarwal, astist, portfolio, artgallery" />
  <meta name="author" content="ashishagarwalartistry.com">

  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Google Fonts  -->
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
  <!-- Body font -->
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
  <!-- Navbar font -->

  <!-- Libs and Plugins CSS -->
  <link rel="stylesheet" href="inc/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="inc/animations/css/animate.min.css">
  <link rel="stylesheet" href="inc/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="inc/owl-carousel/css/owl.carousel.css">
  <link rel="stylesheet" href="inc/owl-carousel/css/owl.theme.css">

  <!-- Theme CSS -->
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/mobile.css">
  <link rel="stylesheet" href="styles/gallery.css">
  <script src="scripts/gallery.js" defer></script>
  <!-- Skin CSS -->
  <link rel="stylesheet" href="css/skin/cool-gray.css">