<%- include('head') %>

  </head>

  <body data-spy="scroll" data-target="#main-navbar">
    <div class="page-loader"></div> <!-- Display loading image while page loads -->
    <div class="body">

      <!--========== BEGIN HEADER ==========-->
      <%- include('header') %>

        <!-- ========= END HEADER =========-->



        <!-- Begin text carousel intro section -->
        <section id="text-carousel-intro-section" class="parallax" data-stellar-background-ratio="0.5"
          style="background-image: url(images/slider-bg.jpg);">

          <div class="container">

          </div> <!-- /.container -->

        </section>
        <!-- End text carousel intro section -->




        <!-- Begin about section -->
        <section id="about-section" class="page bg-style1">
          <!-- Begin page header-->
          <div class="page-header-wrapper">
            <div class="container">
              <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                <h2>About The Artist</h2>
                <div class="devider"></div>
                <!-- <p class="subtitle">little information</p> -->
              </div>
            </div>
          </div>
          <!-- End page header-->

          <!-- Begin rotate box-1 -->
          <div class="rotate-box-1-wrapper">
            <div class="container-fluid">
              <div class="row card1">
                <div class="col-lg-6" style="text-align: center;padding: .5%;">
                  <img src="./images/IMG_20191122_214253_217.jpg" height="600px" width="600px">
                </div>
                <div class="col-lg-6 p-9">
                  <p style="font-size: 23px; padding: 3%; text-align: center;">
                    Ashish Agrawal is a self taught artist. He has been participating in various government
                    and non- government exhibitions. He mainly works with pen and acrylic colors. His works
                    makes use of mix media as well. He always loves to experience with new tools and
                    techniques. The inner thoughts and experiences inspire him to create artworks.
                    <br>
                    <br>
                    His artwork was awarded special category best artwork in Art exhibition organized by
                    RADArt in Vadodara in Jan 2019. His artwork has also been selected among the top 10
                    artworks in an art exhibition organized by the Lalit Kala Academy, Lucknow. He is a
                    faculty of the computer science field and did masters of technology in software
                    engineering.
                    <br>
                    <br>
                    According to Ashish Agrawal, arts have no boundaries in expressing the inner emotions
                    and he also believes that art can bring a good change to society and so he has been
                    trying to serve society through the art. In the lockdown, through the selling of his
                    artworks, he had raised funds to help the needy ones.
                  </p>
                </div>
              </div> <!-- /.row -->
            </div> <!-- /.container -->
          </div>
          <!-- End rotate box-1 -->

          <div class="extra-space-l"></div>





          <!-- Begin Services -->
          <section id="services-section" class="page text-center">


            <!-- Begin roatet box-2 -->
            <div class="rotate-box-2-wrapper">
              <div class="container">
                <div class="row">
                  <div class="col-md-3 col-sm-6">
                    <a href="signature.html" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
                      <span class="rotate-box-icon"><i class="fa fa-pencil"></i></span>
                      <div class="rotate-box-info">
                        <h4>Signature Style Artwork</h4>
                        <p>Ashish Agrawal’s signature style is to use pen and mixed media over a black surface. The base
                          may be a
                          paper, mount sheet or a canvas.</p>
                      </div>
                    </a>
                  </div>

                  <div class="col-md-3 col-sm-6">
                    <a href="acrylic.html" class="rotate-box-2 square-icon text-center wow zoomIn"
                      data-wow-delay="0.2s">
                      <span class="rotate-box-icon"><i class="fa fa-diamond"></i></span>
                      <div class="rotate-box-info">
                        <h4>Acrylic Artwork</h4>
                        <p>Artworks created using acrylic colors on canvas, paper or mount sheet. </p>
                      </div>
                    </a>
                  </div>

                  <div class="col-md-3 col-sm-6">
                    <a href="#Gallery-Art" class="rotate-box-2 square-icon text-center wow zoomIn"
                      data-wow-delay="0.4s">
                      <span class="rotate-box-icon"><i class="fa fa-paint-brush"></i></span>
                      <div class="rotate-box-info">
                        <h4>WaterColor Artwork</h4>
                        <p>Artworks created using water color on paper.</p>
                      </div>
                    </a>
                  </div>

                  <div class="col-md-3 col-sm-6">
                    <a href="#Gallery-Art" class="rotate-box-2 square-icon text-center wow zoomIn"
                      data-wow-delay="0.6s">
                      <span class="rotate-box-icon"><i class="fa fa-clock-o"></i></span>
                      <div class="rotate-box-info">
                        <h4>Sold Artwork</h4>
                        <p>Includes the details of artworks sold in last years.</p>
                      </div>
                    </a>
                  </div>

                </div> <!-- /.row -->
              </div> <!-- /.container -->


            </div>
            <!-- End rotate-box-2 -->
          </section>
          <!-- End Services -->




          <!-- Begin testimonials -->

          <!-- End testimonials -->




          <!-- Begin Portfolio -->
          <section id="portfolio-section " class="page bg-style1">
            <div class="container" id="Gallery-Art">
              <div class="row">
                <div class="col-md-12">
                  <div class="portfolio">
                    <!-- Begin page header-->
                    <div class="page-header-wrapper">
                      <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                          <h2>Art Preview</h2>
                          <div class="devider"></div>
                          <!-- <p class="subtitle">What we are proud of</p> -->
                        </div>
                      </div>
                    </div>
                    <!-- End page header-->
                    <div class="portfoloi_content_area">

                      <div class="portfolio_content">
                        <div class="row" id="portfolio">
                          <div class="col-xs-12 col-sm-4 appsDevelopment">
                            <div class="portfolio_single_content">
                              <img src="images/Signature_Style/11.jpg" alt="title" />
                              <!-- <div>
                                <a href="#">Skull Awesome</a>
                                <span>Subtitle</span>
                              </div> -->
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-4 GraphicDesign">
                            <div class="portfolio_single_content">
                              <img src="images/Signature_Style/13.jpg" alt="title" />
                              <!-- <div>
                                <a href="#">Photo Frame</a>
                                <span>Subtitle</span>
                              </div> -->
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-4 responsive">
                            <div class="portfolio_single_content">
                              <img src="images/Signature_Style/12.jpg" alt="title" />
                              <!-- <div>
                                <a href="#">Hand Shots</a>
                                <span>Subtitle</span>
                              </div> -->
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-4 webDesign websites">
                            <div class="portfolio_single_content">
                              <img src="images/Signature_Style/2.jpg" alt="title" />
                              <!-- <div>
                                <a href="signature.html">Night Abstract</a>
                                <span>Subtitle</span>
                              </div> -->
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-4 appsDevelopment websites">
                            <div class="portfolio_single_content">
                              <img src="images/Signature_Style/9.jpg" alt="title" />
                              <!-- <div>
                                <a href="signature.html">Joy of Independence</a>
                                <span>Subtitle</span>
                              </div> -->
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-4 GraphicDesign">
                            <div class="portfolio_single_content">
                              <img src="images/Signature_Style/3.jpg" alt="title" />
                              <!-- <div>
                                <a href="#">Night Crawlers</a>
                                <span>Subtitle</span>
                              </div> -->
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-4 responsive">
                            <div class="portfolio_single_content">
                              <img src="images/Available_Artworks/PicsArt_12-18-02.02.02.png" alt="title" />
                              <!-- <div>
                                <a href="#">Last Motel</a>
                                <span>Subtitle</span>
                              </div> -->
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-4 GraphicDesign">
                            <div class="portfolio_single_content">
                              <img src="images/Available_Artworks/PicsArt_12-18-02.03.05.jpg" alt="title" />
                              <!-- <div>
                                <a href="#">Dirk Road</a>
                                <span>Subtitle</span>
                              </div> -->
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-4 websites">
                            <div class="portfolio_single_content">
                              <img src="images/Available_Artworks/PicsArt_12-18-02.05.38.jpg" alt="title" />
                              <!-- <div>
                                <a href="signature.html">Old is Gold</a>
                                <span>Subtitle</span>
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- End portfolio -->






          <!-- Begin team-->
          <section id="team-section" class="page" style="background-color: #363940; color: #fff; ">
            <!-- Begin page header-->
            <div class="page-header-wrapper">
              <div class="container">
                <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                  <h2>Shows</h2>
                  <div class="devider"></div>
                  <p class="subtitle"></p>
                </div>
              </div>
            </div>
            <!-- End page header-->
            <div class="container" style="color: #363940;">
              <div class="row card1">
                <p style="font-size: 20px; padding:2%;">

                  -> Art 35, Nine Fish art gallery, Mumbai, Jan 2020 <br>
                  -> Exhibition by Lalit Kala Academy, Lucknow in 2020. <br>
                  -> India Art festival, Delhi, November 2019<br>
                  -> Festival of Art, Akatva Art Foundation, New Delhi, Oct 2019<br>
                  -> Radart Exhibition, Vadodara, Jan 2019<br>
                  -> State and Regional Art exhibitions, Lalit kala Academy, 2019<br>
                  -> India Art Festival, Mumbai, Jan2019<br>
                  -> India Art festival, Delhi, November 2018<br>
                  -> State and Regional Art exhibitions 2018<br>
                  -> Epiphany Art Exhibition, Meraki Art House, New Delhi, Oct 2018<br>
                  -> State and Regional Art exhibitions 2017, 2015, 2016, 2013<br>
                </p>
              </div>
            </div>

          </section>


          <div class="extra-space-l"></div>


          <div class="extra-space-l"></div>
        </section>
        <!-- End prices section -->




        <!-- Begin social section -->
        <section id="social-section">

          <!-- Begin page header-->
          <div class="page-header-wrapper">
            <div class="container">
              <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                <h2>Join Us</h2>
                <div class="devider"></div>
                <p class="subtitle">Follow us on social networks</p>
              </div>
            </div>
          </div>
          <!-- End page header-->

          <div class="container">
            <ul class="social-list">
              <li> <a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.3s"><span
                    class="rotate-box-icon"><i class="fa fa-facebook"></i></span></a></li>
              <li> <a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.4s"><span
                    class="rotate-box-icon"><i class="fa fa-twitter"></i></span></a></li>
              <li> <a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.5s"><span
                    class="rotate-box-icon"><i class="fa fa-instagram"></i></span></a></li>
              <li> <a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.6s"><span
                    class="rotate-box-icon"><i class="fa fa-pinterest-p"></i></span></a></li>
              <li> <a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.7s"><span
                    class="rotate-box-icon"><i class="fa fa-tumblr"></i></span></a></li>
              <li> <a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.8s"><span
                    class="rotate-box-icon"><i class="fa fa-dribbble"></i></span></a></li>
            </ul>
          </div>

        </section>
        <!-- End social section -->




        <!-- Begin contact section -->
        <section id="contact-section" class="page text-white parallax" data-stellar-background-ratio="0.5"
          style="background-image: url(img/map-bg.jpg);">
          <div class="cover"></div>

          <!-- Begin page header-->
          <div class="page-header-wrapper">
            <div class="container">
              <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                <h2>Contacts</h2>
                <div class="devider"></div>
                <p class="subtitle">All to contact us</p>
              </div>
            </div>
          </div>
          <!-- End page header-->

          <div class="contact wow bounceInRight" data-wow-delay="0.4s">
            <div class="container">
              <div class="row">

                <div class="col-sm-6">
                  <div class="contact-info">
                    <h4>Our Address</h4>
                    <ul class="contact-address">
                      <li><i class="fa fa-map-marker fa-lg"></i>&nbsp; 9 G New Avantika, Suncity Vistaar,
                        <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bareilly,
                        (243122)<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Uttar Pradesh, India
                      </li>
                      <li><i class="fa fa-phone"></i>&nbsp; +91 9259509555</li>
                      <li><i class="fa fa-print"></i>&nbsp; +91 9259509555</li>
                      <li><i class="fa fa-envelope"></i> agarwal.ashish01@gmail.com</li>
                      <li><i class="fa fa-skype"></i> Ashish AgarwalArtistry-Design</li>
                    </ul>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="contact-form">
                    <h4>Write to us</h4>
                    <form role="form">
                      <div class="form-group">
                        <input type="text" class="form-control input-lg" placeholder="Your Name" required>
                      </div>
                      <div class="form-group">
                        <input type="email" class="form-control input-lg" placeholder="E-mail" required>
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control input-lg" placeholder="Subject" required>
                      </div>
                      <div class="form-group">
                        <textarea class="form-control input-lg" rows="5" placeholder="Message" required></textarea>
                      </div>
                      <button type="submit" class="btn wow bounceInRight" data-wow-delay="0.8s">Send</button>
                    </form>
                  </div>
                </div>

              </div> <!-- /.row -->
            </div> <!-- /.container -->
          </div>
        </section>
        <!-- End contact section -->




        <!-- Begin footer -->
        <footer class="text-off-white">

          <div class="footer-top">
            <div class="container">
              <div class="row wow bounceInLeft" data-wow-delay="0.4s">

                <div class="col-sm-6 col-md-4">
                  <h4>Useful Links</h4>
                  <ul class="imp-links">
                    <li><a href="">About</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">Press</a></li>
                    <li><a href="">Copyright</a></li>
                    <li><a href="">Advertise</a></li>
                    <li><a href="">Legal</a></li>
                  </ul>
                </div>

                <div class="col-sm-6 col-md-4">
                  <h4>Subscribe</h4>
                  <div id="footer_signup">
                    <div id="email">
                      <form id="subscribe" method="POST">
                        <input type="text" placeholder="Enter email address" name="email" id="address"
                          data-validate="validate(required, email)" />
                        <button type="submit">Submit</button>
                        <span id="result" class="section-description"></span>
                      </form>
                    </div>
                  </div>
                  <p>Coming Soon ...</p>
                </div>

                <div class="col-sm-12 col-md-4">
                  <h4>Recent Tweets</h4>
                  <div class="single-tweet">
                    <div class="tweet-content"><span>@Ashish AgarwalArtistry</span> Excepteur sint occaecat
                      cupidatat non proident</div>
                    <div class="tweet-date">1 Hour ago</div>
                  </div>
                  <div class="single-tweet">
                    <div class="tweet-content"><span>@Ashish AgarwalArtistry</span> Excepteur sint occaecat
                      cupidatat non proident uku shumaru</div>
                    <div class="tweet-date">1 Hour ago</div>
                  </div>
                </div>

              </div> <!-- /.row -->
            </div> <!-- /.container -->
          </div>

          <div class="footer">
            <div class="container text-center wow fadeIn" data-wow-delay="0.4s">
              <p class="copyright">Copyright &copy; 2021 - Designed By <a href="#" class="theme-author">Web
                  Dev</a> &amp; Developed by <a href="#" class="theme-author">Web Dev</a></p>
            </div>
          </div>

        </footer>
        <!-- End footer -->

        <a href="#" class="scrolltotop"><i class="fa fa-arrow-up"></i></a> <!-- Scroll to top button -->

    </div><!-- body ends -->

    <%- include('footer') %>