<img src="slider-bg.jpg" alt="img">
<section id="about-section" class="page bg-style1">
  <!-- Begin page header-->
  <div class="page-header-wrapper">
    <div class="container">
      <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
        <h2>About The Artist</h2>
        <div class="devider"></div>
        <!-- <p class="subtitle">little information</p> -->
      </div>
    </div>
  </div>
  <!-- End page header-->

  <!-- Begin rotate box-1 -->
  <div class="rotate-box-1-wrapper">
    <div class="container-fluid">
      <div class="row card1">
        <div class="col-lg-6" style="text-align: center;padding: .5%;">
          <img src="./img/IMG_20191122_214253_217.jpg" height="600px" width="600px">
        </div>
        <div class="col-lg-6 p-9">
          <p style="font-size: 23px; padding: 3%; text-align: center;">
            Ashish Agrawal is a self taught artist. He has been participating in various government
            and non- government exhibitions. He mainly works with pen and acrylic colors. His works
            makes use of mix media as well. He always loves to experience with new tools and
            techniques. The inner thoughts and experiences inspire him to create artworks.
            <br>
            <br>
            His artwork was awarded special category best artwork in Art exhibition organized by
            RADArt in Vadodara in Jan 2019. His artwork has also been selected among the top 10
            artworks in an art exhibition organized by the Lalit Kala Academy, Lucknow. He is a
            faculty of the computer science field and did masters of technology in software
            engineering.
            <br>
            <br>
            According to Ashish Agrawal, arts have no boundaries in expressing the inner emotions
            and he also believes that art can bring a good change to society and so he has been
            trying to serve society through the art. In the lockdown, through the selling of his
            artworks, he had raised funds to help the needy ones.
          </p>
        </div>
      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </div>
  <!-- End rotate box-1 -->

  <div class="extra-space-l"></div>


</section>