<%- include('head') %>

  </head>

  <body>

    <%- include('header') %>
      <section>


        <h1 style="text-align:center; margin-top: 10%; margin-bottom: 2%">Signature_Paintings</h1>

        <div class="gallery">
          <!-- <a class="image-link" href="./images/Signature_Style/1.jpg" data-title="Signature Style."
            data-lightbox="example-1"><img class="example-image" src="./images/Signature_Style/1.jpg" alt="image-1"
              height="300" width="300" /></a> -->

          <a style="margin : 2%; margin-top: 1%" class="image-link" href="./images/Signature_Style/2.jpg"
            data-title="Optional caption." data-lightbox="example-1"><img class="example-image"
              src="./images/Signature_Style/2.jpg" alt="image-1" height="420" width="420" /></a>

          <a class="image-link" style="margin : 2%;" href="./images/Signature_Style/3.jpg"
            data-title="Optional caption." data-lightbox="example-1"><img class="example-image"
              src="./images/Signature_Style/3.jpg" alt="image-1" height="420" width="420" /></a>

          <a class="image-link" style="margin : 2%;" href="./images/Signature_Style/4.png"
            data-title="Optional caption." data-lightbox="example-1"><img class="example-image"
              src="./images/Signature_Style/4.png" alt="image-1" height="420" width="420" /></a>

          <a class="image-link" style="margin : 2%;margin-top: 1%" href=" ./images/Signature_Style/5.jpg"
            data-title="Optional caption." data-lightbox="example-1"><img class="example-image"
              src="./images/Signature_Style/5.jpg" alt="image-1" height="420" width="420" /></a>

          <a class="image-link" style="margin : 2%;margin-top: 1%" href=" ./images/Signature_Style/6.jpg"
            data-title="Optional caption." data-lightbox="example-1"><img class="example-image"
              src="./images/Signature_Style/6.jpg" alt="image-1" height="420" width="420" /></a>

          <a class="image-link" style="padding : 2%;" href="./images/Signature_Style/7.png"
            data-title="Optional caption." data-lightbox="example-1"><img class="example-image"
              src="./images/Signature_Style/7.png" alt="image-1" height="420" width="420" /></a>

          <a class="image-link" style="padding : 2%;" href="./images/Signature_Style/8.png"
            data-title="Optional caption." data-lightbox="example-1"><img class="example-image"
              src="./images/Signature_Style/8.png" alt="image-1" height="420" width="420" /></a>

          <a class="image-link" style="padding : 2%;" href="./images/Signature_Style/9.jpg"
            data-title="Optional caption." data-lightbox="example-1"><img class="example-image"
              src="./images/Signature_Style/9.jpg" alt="image-1" height="420" width="420" /></a>

          <a class="image-link" style="padding : 2%;" href="./images/Signature_Style/10.jpg"
            data-title="Optional caption." data-lightbox="example-1"><img class="example-image"
              src="./images/Signature_Style/10.jpg" alt="image-1" height="420" width="420" /></a>

          <a class="image-link" style="padding : 2%;" href="./images/Signature_Style/11.jpg"
            data-title="Optional caption." data-lightbox="example-1"><img class="example-image"
              src="./images/Signature_Style/11.jpg" alt="image-1" height="420" width="420" /></a>

          <a class="image-link" style="padding : 2%;" href="./images/Signature_Style/12.jpg"
            data-title="Optional caption." data-lightbox="example-1"><img class="example-image"
              src="./images/Signature_Style/12.jpg" alt="image-1" height="420" width="420" /></a>

          <a class="image-link" style="padding : 2%;" href="./images/Signature_Style/13.jpg"
            data-title="Optional caption." data-lightbox="example-1"><img class="example-image"
              src="./images/Signature_Style/13.jpg" alt="image-1" height="420" width="420" /></a>

        </div>

      </section>
      <!-- <script src="./js/lightbox-plus-jquery.min.js"></script> -->


      <%- include('footer') %>