<%- include('../../shared/includes/head', {pageTitle: "Add New Product" }) %>

  <link rel="stylesheet" href="./css/lightbox.min.css">
  <link rel="stylesheet" href="thumbnail-gallery.css">

  </head>

  <body>
    <%- include('../../shared/includes/header') %>

      <main>

        <h1>
          Acrylic_Paintings
        </h1>

        <section>
          <div class="gallery">
            <a class="image-link" href="../../../product-data/sold/fd4aa970-e1ad-4dd4-b15a-c7bfa6562150-644206.jpg"
              data-lightbox="example-1"><img class="example-image"
                src="../../../product-data/sold/fd4aa970-e1ad-4dd4-b15a-c7bfa6562150-644206.jpg" alt="image-1"
                height="300" width="300" /></a>
          </div>
        </section>


      </main>
      <%- include('../../shared/includes/footer') %>